
#sidebar {
    display:flex;
    flex-direction:column;
    height:100vh;
    width:250px;
    padding:20px;
    position:fixed;

    transition: width 0.3s ease;

    transition: transform 0.5s;
    width:250px;
    flex: 0 0 auto;
}

#sidebar.closed {
    transform: translateX(-250px);
    transition: transform 0.5s;
    /* width:0px; */
}


#sidebar a {
    text-decoration: none;
    color:#fff;
    font-size:1rem;
    line-height:1.5;
    padding:10px;
}

.current-option {
    background-color:aqua;
}

#sidebar .header {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

#sidebar .header i {
    font-size:2rem;
    padding-bottom:10px;
    cursor:pointer;
}


.content {
    float: left;
}


@media screen and (max-width: 750px) {
    #sidebar {
        display:none;
    }

    #open-sidebar {
        display:block;
    }
}
