<div class="d-flex justify-content-center align-items-center overlay" *ngIf="showSpinner">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>



<ul>
    <li [routerLink]="['/user/account-details']">Account details</li>
    <li [routerLink]="['/user/change-password']">Change Password</li>
    <li [routerLink]="['/user/job-applications']">Job Applications</li>
    <li [routerLink]="['/user/saved-jobs']">Saved Jobs</li>
    <li [routerLink]="['/logout']">Logout</li>
    <hr>
    <li>Delete Account</li>
</ul>


<div *ngIf="showNotFound">
  User was not found!
</div>

<div *ngIf="showUser">
  <li>User: {{user.id}}</li>
  <li>Firstname: {{user.firstname}}</li>
  <li>Lastname: {{user.lastname}}</li>
  <li>Email: {{user.email}}</li>
</div>

