

<app-sidebar></app-sidebar>

<div id="account-details" class="content" *ngIf="showContent">
    <form [formGroup]="changePasswordForm" id="change-password-form">
        <p class="fs-3 text-center mb-3">Account details</p>
        <div class="alert alert-danger d-flex flex-row justify-content-space-between align-items-center" *ngIf="errorMessage">
            {{errorMessage}}
            <button type="button" class="btn-close me-2 m-auto" (click)="errorMessage = ''" aria-label="Close"></button>
        </div>
        <div class="alert alert-success d-flex flex-row justify-content-space-between align-items-center" *ngIf="successMessage">
            {{successMessage}}
            <button type="button" class="btn-close me-2 m-auto" (click)="successMessage = ''" aria-label="Close"></button>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" placeholder="Current Password" id="current" formControlName="current"
            [ngClass]="{'is-invalid': invalidInput('current')}">
            <label for="current">Current password</label>
            <p class="text-danger text-start" *ngIf="invalidInput('current')">This field is required!</p>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" placeholder="New password" id="new" formControlName="new"
            [ngClass]="{'is-invalid': !passwordsDoMatch() || invalidInput('new')}">
            <label for="new">New password</label>
            <p class="text-danger text-start" *ngIf="invalidInput('new')">This field is required!</p>
        </div>

        <div class="form-floating mb-5">
            <input type="password" class="form-control" placeholder="Confirm new password" id="confirm" formControlName="confirm"
            [ngClass]="{'is-invalid': !passwordsDoMatch()}">
            <label for="confirm">Confirm new password</label>
            <p class="text-danger text-start" *ngIf="!passwordsDoMatch()">Passwords do not match!</p>
        </div>


        <button mat-flat-button color="primary" class="full-width w-100" (click)="changePassword()" [disabled]="!validSubmit()">Update details</button>
    </form>
</div>
<div *ngIf="showSpinner">
    <app-spinner></app-spinner>
</div>
