

<app-sidebar></app-sidebar>

<div id="account-details" class="content" *ngIf="showContent">
    <form [formGroup]="changePasswordForm" id="change-password-form">
        <p class="fs-3 text-center mb-3">Account details</p>
        <div class="alert alert-danger d-flex flex-row justify-content-space-between align-items-center" *ngIf="errorMessage">
            {{errorMessage}}
            <button type="button" class="btn-close me-2 m-auto" (click)="errorMessage = ''" aria-label="Close"></button>
        </div>
        <div class="alert alert-success d-flex flex-row justify-content-space-between align-items-center" *ngIf="successMessage">
            {{successMessage}}
            <button type="button" class="btn-close me-2 m-auto" (click)="successMessage = ''" aria-label="Close"></button>
        </div>

        <button mat-flat-button color="primary" class="full-width w-100" (click)="changePassword()" [disabled]="changePasswordForm.invalid">Update details</button>
    </form>
</div>
<div *ngIf="showSpinner">
    <app-spinner></app-spinner>
</div>
