
<app-home></app-home>

<form [formGroup]="loginForm" id="login-form" class="text-center" (ngSubmit)="onSubmit()">
    <p>Login</p>
    <div class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
    </div>
    <div class="alert alert-success" *ngIf="successMessage">
        {{successMessage}}
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" placeholder="Email" id="email" autocomplete="email" 
        formControlName="email"
        [ngClass]="{
            'is-invalid': invalidEmail(),
            'is-valid': validEmail()
        }" 
        >
        <label for="email">Email</label>
        <p class="text-danger text-start" *ngIf="invalidEmail()">Invalid email!</p>
    </div>
    <div class="form-floating mb-5">
        <input type="password" class="form-control" placeholder="Password" id="password" autocomplete="password" 
        formControlName="password"
        [ngClass]="{
            'is-invalid': invalidPassword(),
            'is-valid': validPassword()
        }"
        >
        <label for="password">Password</label>
        <p class="text-danger text-start" *ngIf="invalidPassword()">Invalid password!</p>

    </div>
    <button class="btn btn-success w-100" [disabled]="loginForm.invalid">Login</button>
</form>

<div *ngIf="showSpinner">
    <app-spinner></app-spinner>
</div>
