

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-job-modal">
    create job
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="create-job-modal" tabindex="-1" aria-labelledby="create-job-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="create-job-modal-label">Create job</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-floating mb-3">
                <input type="text" name="title" id="title" class="form-control" placeholder="title">
                <label for="title">Title*</label>
            </div>
            <div class="form-floating mb-3">
                <textarea type="text" name="description" id="description" class="form-control" placeholder="description" style="height:100px"></textarea>
                <label for="description">Description*</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" name="salary" id="salary" class="form-control" placeholder="Salary">
                <label for="salary">Salary*</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="location" id="location" class="form-control" placeholder="location">
                <label for="location">Location*</label>
            </div>
            <div class="form-floating mb-3">
                <select name="type" id="type" class="form-control">
                    <option value="full_time">Full time</option>
                    <option value="part_time">Part time</option>
                    <option value="internship">Internship</option>
                </select>
                <label for="type">Type</label>
            </div>
            <div class="form-floating mb-5">
                <select name="category" id="category" class="form-control">
                    <option value="{{category.id}}" *ngFor="let category of categories">{{category.name}}</option>
                </select>
                <label for="category">Category</label>
            </div>
            <button type="submit">Create job</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
