

<app-home></app-home>

<div id="register">
    <div class="type">
        <button class="btn btn-primary w-50 p-3" (click)="showRegisterCompany = false; showRegisterUser = true">User</button>
        <button class="btn btn-primary w-50 p-3" (click)="showRegisterUser = false; showRegisterCompany = true">Company</button>
    </div>
    <div class="form">
        <p class="alert alert-warning text-center p-1 mb-0">All fields marked with * are mandatory</p>
        <app-register-user *ngIf="showRegisterUser"></app-register-user>
        <app-register-company *ngIf="showRegisterCompany"></app-register-company>
    </div>
</div>
